body {
    background-color: lightsteelblue;
    margin: auto;
    width: 80%;
    text-align: center;

}

h1 {
    color: grey;
}

p {
    color: dimgray;
}

#idcolor {
    color: red;
}

.smart {
    color: darkolivegreen;
}


.color {
    color: black;
}

.font {
    font-size: 20px;
}

legend {
    background-color: paleturquoise;
}

.style {
    font-size: 20px;
    background-color: lightcoral;
    text-transform: capitalize;
}

div p a {
    color: red;
}

a {
    color: tomato;
}

form div label {
    color: blanchedalmond;
    background-color: blueviolet;
}